In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
import nltk

In [3]:
cast_data = pd.read_csv('credits.csv')
movies_data= pd.read_csv('movies.csv')

In [4]:
movies_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
cast_data.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
movies_data= movies_data.merge(cast_data, on='title')

In [7]:
movies_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
movies_data.shape

(4808, 23)

In [9]:
movies_data= movies_data[['movie_id','title','genres','crew','cast','overview','keywords']]

In [10]:
movies_data.head()

,movie_id,title,genres,crew,cast,overview,keywords
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [11]:
movies_data.isnull().sum()

movie_id    0
title       0
genres      0
crew        0
cast        0
overview    3
keywords    0
dtype: int64

In [12]:
movies_data.duplicated().sum()

0

In [13]:
movies_data.iloc[0].movie_id

19995

In [14]:
def convert(obj):
  L=[]
  for i in ast.literal_eval(obj):
    L.append(i['name'])
  return L

In [15]:
movies_data['genres']= movies_data['genres'].apply(convert)
movies_data['keyword']= movies_data['keywords'].apply(convert)

In [16]:
movies_data.head()

,movie_id,title,genres,crew,cast,overview,keywords,keyword
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[based on novel, mars, medallion, space travel..."

In [17]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4808 entries, 0 to 4807
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4808 non-null   int64
 1   title     4808 non-null   object
 2   genres    4808 non-null   object
 3   crew      4808 non-null   object
 4   cast      4808 non-null   object
 5   overview  4805 non-null   object
 6   keywords  4808 non-null   object
 7   keyword   4808 non-null   object
dtypes: int64(1), object(7)
memory usage: 300.6+ KB

In [18]:
def convert2(obj):
  L=[]
  counter =0
  for i in ast.literal_eval(obj):
    if counter !=3:
      L.append(i['name'])
      counter +=1
    else:
         break
    return L

In [19]:
movies_data['cast']= movies_data['cast'].apply(convert2)

In [20]:
movies_data.head()

,movie_id,title,genres,crew,cast,overview,keywords,keyword
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",[Sam Worthington],"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",[Johnny Depp],"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",[Daniel Craig],A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",[Christian Bale],Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",[Taylor Kitsch],"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[based on novel, mars, medallion, space travel..."

In [21]:
def fetch_direct(obj):
  L=[]
  for i in ast.literal_eval(obj):
    if i ['job'] == 'Director':
        L.append(i['name'])
    return L

In [22]:
movies_data['crew'] = movies_data['crew'].apply(fetch_direct)

In [23]:
movies_data.head()

,movie_id,title,genres,crew,cast,overview,keywords,keyword
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",[],[Sam Worthington],"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",[],[Johnny Depp],"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]",[],[Daniel Craig],A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",[],[Christian Bale],Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]",[],[Taylor Kitsch],"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[based on novel, mars, medallion, space travel..."

In [24]:
movies_data['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [25]:
movies_data['overview'] = movies_data['overview'].fillna('').apply(lambda x: x.split())

In [26]:
movies_data.head()

,movie_id,title,genres,crew,cast,overview,keywords,keyword
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",[],[Sam Worthington],"[In, the, 22nd, century,, a, paraplegic, Marin...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",[],[Johnny Depp],"[Captain, Barbossa,, long, believed, to, be, d...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]",[],[Daniel Craig],"[A, cryptic, message, from, Bond’s, past, send...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",[],[Christian Bale],"[Following, the, death, of, District, Attorney...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]",[],[Taylor Kitsch],"[John, Carter, is, a, war-weary,, former, mili...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[based on novel, mars, medallion, space travel..."

In [27]:
movies_data['genres']=movies_data['genres'].fillna('').apply(lambda x:[i.replace(" ","") for i in x])
movies_data['keywords']=movies_data['keywords'].fillna('').apply(lambda x:[i.replace(" ","") for i in x])
movies_data['cast']=movies_data['cast'].fillna('').apply(lambda x:[i.replace(" ","") for i in x])
movies_data['crew']=movies_data['crew'].fillna('').apply(lambda x:[i.replace(" ","") for i in x])

In [28]:
movies_data.head()

,movie_id,title,genres,crew,cast,overview,keywords,keyword
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]",[],[SamWorthington],"[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",[],[JohnnyDepp],"[Captain, Barbossa,, long, believed, to, be, d...","[[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a,...","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]",[],[DanielCraig],"[A, cryptic, message, from, Bond’s, past, send...","[[, {, "", i, d, "", :, , 4, 7, 0, ,, , "", n, a,...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",[],[ChristianBale],"[Following, the, death, of, District, Attorney...","[[, {, "", i, d, "", :, , 8, 4, 9, ,, , "", n, a,...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]",[],[TaylorKitsch],"[John, Carter, is, a, war-weary,, former, mili...","[[, {, "", i, d, "", :, , 8, 1, 8, ,, , "", n, a,...","[based on novel, mars, medallion, space travel..."

In [29]:
movies_data['tags'] = movies_data['overview']+ movies_data['genres'] +movies_data['keywords']+ movies_data['cast']+ movies_data['crew']

In [30]:
movies_data.head()

,movie_id,title,genres,crew,cast,overview,keywords,keyword,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, ScienceFiction]",[],[SamWorthington],"[In, the, 22nd, century,, a, paraplegic, Marin...","[[, {, "", i, d, "", :, , 1, 4, 6, 3, ,, , "", n,...","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",[],[JohnnyDepp],"[Captain, Barbossa,, long, believed, to, be, d...","[[, {, "", i, d, "", :, , 2, 7, 0, ,, , "", n, a,...","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[Action, Adventure, Crime]",[],[DanielCraig],"[A, cryptic, message, from, Bond’s, past, send...","[[, {, "", i, d, "", :, , 4, 7, 0, ,, , "", n, a,...","[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",[],[ChristianBale],"[Following, the, death, of, District, Attorney...","[[, {, "", i, d, "", :, , 8, 4, 9, ,, , "", n, a,...","[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[Action, Adventure, ScienceFiction]",[],[TaylorKitsch],"[John, Carter, is, a, war-weary,, former, mili...","[[, {, "", i, d, "", :, , 8, 1, 8, ,, , "", n, a,...","[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili..."

In [31]:
new_data = movies_data[['movie_id','title','tags']]

In [32]:
new_data

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4803,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4804,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4805,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4806,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4807,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [33]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [34]:
def stem_list(text_list):
    stemmed_list = []
    for text in text_list:
        stemmed_words = [ps.stem(word) for word in text.split()]
        stemmed_text = " ".join(stemmed_words)
        stemmed_list.append(stemmed_text)
    return stemmed_list

In [35]:
new_data['tags'] = new_data['tags'].apply(stem_list)

C:\Users\Tanmoy Sarkar\AppData\Local\Temp\ipykernel_20716\199775073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['tags'] = new_data['tags'].apply(stem_list)

In [36]:
new_data['tags'] = new_data['tags'].apply(lambda tags: [tag.lower() for tag in tags] if isinstance(tags, list) else tags)

C:\Users\Tanmoy Sarkar\AppData\Local\Temp\ipykernel_20716\2836729326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['tags'] = new_data['tags'].apply(lambda tags: [tag.lower() for tag in tags] if isinstance(tags, list) else tags)

In [37]:
new_data.head()

,movie_id,title,tags
0,19995,Avatar,"[in, the, 22nd, century,, a, parapleg, marin, ..."
1,285,Pirates of the Caribbean: At World's End,"[captain, barbossa,, long, believ, to, be, dea..."
2,206647,Spectre,"[a, cryptic, messag, from, bond’, past, send, ..."
3,49026,The Dark Knight Rises,"[follow, the, death, of, district, attorney, h..."
4,49529,John Carter,"[john, carter, is, a, war-weary,, former, mili..."

In [38]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features= 5000, stop_words='english')

In [39]:
new_data['tags'] = new_data['tags'].apply(lambda tags: ' '.join(tags) if isinstance(tags, list) else tags)

C:\Users\Tanmoy Sarkar\AppData\Local\Temp\ipykernel_20716\3798177663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['tags'] = new_data['tags'].apply(lambda tags: ' '.join(tags) if isinstance(tags, list) else tags)

In [40]:
cv.fit_transform(new_data['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [41]:
vectors = cv.fit_transform(new_data['tags']).toarray()

In [42]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [43]:
feature_names = cv.get_feature_names_out()
len(feature_names)

5000

In [44]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
similarity= cosine_similarity(vectors)
print(similarity)

[[1.         0.16666667 0.0942809  ... 0.         0.         0.        ]
 [0.16666667 1.         0.0942809  ... 0.0347524  0.         0.03774257]
 [0.0942809  0.0942809  1.         ... 0.02948839 0.         0.        ]
 ...
 [0.         0.0347524  0.02948839 ... 1.         0.04301324 0.02360961]
 [0.         0.         0.         ... 0.04301324 1.         0.09342837]
 [0.         0.03774257 0.         ... 0.02360961 0.09342837 1.        ]]

In [46]:
similarity.shape

(4808, 4808)

In [47]:
similarity[1]

array([0.16666667, 1.        , 0.0942809 , ..., 0.0347524 , 0.        ,
       0.03774257])

In [48]:
def recommend(movie):
    movie_index = new_data[new_data['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key= lambda x:x[1]) [1:6]
    for i in movies_list:
        print(new_data.iloc[i[0]].title)

In [49]:
recommend('The Dark Knight')

The Dark Knight Rises
Amidst the Devil's Wings
Batman Begins
Nine Queens
Gangster's Paradise: Jerusalema

In [50]:
import pickle

In [51]:
pickle.dump(new_data,open('movies.pkl','wb'))

In [54]:
pickle.dump(similarity,open('similarity.pkl','wb'))